.item {
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #c2e7f0;
  }

  .note{
      font-size: large;
      margin-left: auto;
  }

  .title{
      padding: 0.5px;
      margin: 1px;
  }

  .button{
      font-size: medium;
      border-radius: 4px;
      background-color: lightgray;
  }
  